.container{
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}
/* .text-green-400{
    --tw-text-opacity: 0.5;
    background-color:#4ADE80 ;
} */
.text-opacity-80{
    --tw-text-opacity: 0.8
}
.text-opacity-70{
    --tw-text-opacity: 0.7
}

.ml-40 {
    margin-left: 10rem/* 160px */;
}
.ml-30 {
    margin-left: 8rem/* 160px */;
}

.ml-20 {
    margin-left: 6rem/* 160px */;
}
.my-2{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
.font-extrabold {
    font-weight: 800;
}
.-mr-111{
        margin-right: -3.5rem;
}
.mr-113 {
    margin-right: -0.25rem;
}
.text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
  }
